---
title: LET'S GO TRAVEL
layout: layouts/home.njk
description: A travel blog by, kind of, Gustaf Barkeling (with the held of GPT-3)
image: /img/header.jpg
date: Last Modified
---

<div id="posts">
  <h2>Trips, Tips & Reviews</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>